{{define "subject"}}Crimson{{end}}

{{define "plainBody"}}

Hi,

Your user ID is {{.ID}}.

For any inquiries, send an email to admin@cyrepairhub.com
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p>Hi,</p>
        <p>Your user ID is {{.ID}}</p>
        <p>For any inquiries, send an email to admin@cyrepairhub.com</p>
    </body>
</html> 
{{end}}